
body {
  font-family: "Permanent Marker", cursive;
  background-image: url("notebook-page.jpg");
  background-color: white;
  background-size: 100%;
}

#main {
  display:flex;
  flex-direction: column;
  text-align: center;

}


.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  font-family: "Permanent Marker", cursive;
  height: 120px;
  width: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: transparent;
  border: none;
}

#a2, #b2, #c2 {
  border-left-style: solid;
  border-left-width: 6px;
  border-right-style: solid;
  border-right-width: 6px;
}

#b1, #b2, #b3 {
  border-top-style: solid;
  border-top-width: 6px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}

#winner {
  padding-top: 30px;
  font-size: 40px;
  height: 40px;
}

#scores {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.score-board {
  font-size: 25px;
}


#newRound {
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  border-radius: 15px;
  background-color: transparent;
  margin-top: 15px;
}

#newRound:hover {
  background-color: rgba(128, 128, 128, 0.286);
}

#newRound:active {
  background-color: transparent;
}

footer {
  color: black;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

