<!DOCTYPE html>
<html>
  <head>
    <title>Boter-kaas-en-eieren</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <h1>Boter-kaas-en-eieren</h1>
    <div>
      <div class="row">
        <button id="a1" onclick="saveMove('a1')" class="square"></button>
        <button id="a2" onclick="saveMove('a2')"  class="square"></button>
        <button id="a3" onclick="saveMove('a3')"  class="square"></button>
      </div>
      <div class="row">
        <button id="b1" onclick="saveMove('b1')"  class="square"></button>
        <button id="b2" onclick="saveMove('b2')"  class="square"></button>
        <button id="b3" onclick="saveMove('b3')"  class="square"></button>
      </div>
      <div class="row">
        <button id="c1" onclick="saveMove('c1')"  class="square"></button>
        <button id="c2" onclick="saveMove('c2')"  class="square"></button>
        <button id="c3" onclick="saveMove('c3')"  class="square"></button>
      </div>
      <div id="winner"></div>
      <footer><a href="https://www.freepik.com/free-vector/blank-white-notepaper-design-vector_24382364.htm#query=notebook%20paper%20texture&position=3&from_view=keyword&track=ais_user&uuid=feceef04-9991-4ea4-a619-32eaefc86829">Background by rawpixel.com</a> on Freepik</footer>
      <script>
        let positions = {};
        let round = 0; 
        winner = false;

        function checkWinner() {
          if (positions["a1"] === positions["a2"] && positions["a2"] === positions["a3"] && (positions["a1"] === "X" || positions["a1"] === "O")) {
            document.getElementById("winner").innerHTML = `${positions["a1"]} wint!`;
            winner = true;
          } else if (positions["b1"] === positions["b2"] && positions["b2"] === positions["b3"] && (positions["b1"] === "X" || positions["b1"] === "O")) {
            document.getElementById("winner").innerHTML = `${positions["b1"]} wint!`;
            winner = true;
          } else if (positions["c1"] === positions["c2"] && positions["c2"] === positions["c3"] && (positions["c1"] === "X" || positions["c1"] === "O")) {
            document.getElementById("winner").innerHTML = `${positions["c1"]} wint!`;
            winner = true;
          } else if (positions["a1"] === positions["b1"] && positions["b1"] === positions["c1"] && (positions["a1"] === "X" || positions["a1"] === "O")) {
            document.getElementById("winner").innerHTML = `${positions["a1"]} wint!`;
            winner = true;
          } else if (positions["a2"] === positions["b2"] && positions["b2"] === positions["c2"] && (positions["a2"] === "X" || positions["a2"] === "O")) {
            document.getElementById("winner").innerHTML = `${positions["a2"]} wint!`;
            winner = true;
          } else if (positions["a3"] === positions["b3"] && positions["b3"] === positions["c3"] && (positions["a3"] === "X" || positions["a3"] === "O")) {
            document.getElementById("winner").innerHTML = `${positions["a3"]} wint!`;
            winner = true;
          } else if (positions["a1"] === positions["b2"] && positions["b2"] === positions["c3"] && (positions["a1"] === "X" || positions["a1"] === "O")) {
            document.getElementById("winner").innerHTML = `${positions["a1"]} wint!`;
            winner = true;
          } else if (positions["c1"] === positions["b2"] && positions["b2"] === positions["a3"] && (positions["c1"] === "X" || positions["c1"] === "O")) {
            document.getElementById("winner").innerHTML = `${positions["c1"]} wint!`;
            winner = true;
          }
          else if (round === 9)
          {
            document.getElementById("winner").innerHTML = "Gelijkspel!"
          }
        };

        function saveMove(square) {
          if (!(square in positions) && !winner) {
            round += 1;
            if (round%2) {
              positions[square] = "X";
              document.getElementById(square).innerHTML = "X";
            }
            else {
              positions[square] = "O";
              document.getElementById(square).innerHTML = "O";
            };
            
            console.log(`Ronde ${round}`);
            console.log(positions);
            checkWinner();
          };   
        };

      </script>
    </div>
  </body>
</html>