<!DOCTYPE html>
<html>
  <head>
    <title>Boter-kaas-en-eieren</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>Boter-kaas-en-eieren</h1>
    <div>
      <div class="row">
        <button onclick="" class="square">a1</button>
        <button class="square">a2</button>
        <button class="square">a3</button>
      </div>
      <div class="row">
        <button class="square">b1</button>
        <button class="square">b2</button>
        <button class="square">b3</button>
      </div>
      <div class="row">
        <button class="square">c1</button>
        <button class="square">c2</button>
        <button class="square">c3</button>
      </div>
    </div>
  </body>
</html>